@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap');

* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}

:root {
   --gray-100: #e1e1e6;
   --gray-300: #a8a8b3;
   --gray-700: #323238;
   --gray-800: #29292e;
   --gray-850: #1f2729;
   --gray-900: #121214;

   --success: #5cb85c;
   --danger: #d9534f;

   --cyan-500: #61dafb;
   --yellow-500: #eba417;
 }
 
 @media (max-width: 1080px) {
   html {
     font-size: 93.75%;
   }
 }
 
 @media (max-width: 720px) {
   html {
     font-size: 87.5%;
   }
 }

 body {
   background: var(--gray-900);
   color: var(--gray-100);
 }

 body, input, textarea, select, button {
   font: 1rem 'Lato', sans-serif;
 }

 h1 {
    color: var(--yellow-500);
    text-align: center;
 }

.container {
   width: 350px;
   margin: auto;
   margin-top: 50px;
   padding: 10px;
   background-color: var(--gray-700);
   border-radius: 5px;
}

input {
  width: 100%;
  padding: 5px;
  border: 1px solid var(--gray-300);
  border-radius: 5px;
  margin-top: 15px;
}

button {
  padding: 5px;
  border: none;
  border-radius: 3px;
  margin-top: 15px;
  cursor: pointer;
  transition: filter 0.2s;
}

#btn-calc {
  background-color: var(--success)
}

button:hover {
  filter: brightness(0.8)
}

#btn-clear {
  margin-left: 10px;
  background-color: var(--danger)
}